Should `iat` be float?

I am wondering if Authlib could and should handle float `iat` claims.

## id_token

[oidc-core §2](https://openid.net/specs/openid-connect-core-1_0.html#IDToken) indicates:

> iat
>    REQUIRED. Time at which the JWT was issued. **Its value is a JSON number** representing the number of seconds from 1970-01-01T00:00:00Z as measured in UTC until the date/time.

The [JSON spec RFC8259 §6](https://datatracker.ietf.org/doc/html/rfc8259#autoid-9) defines *JSON number*:

>    The representation of numbers is similar to that used in most
   programming languages.  A number is represented in base 10 using
   decimal digits.  It contains an integer component that may be
   prefixed with an optional minus sign, **which may be followed by a
   fraction part** and/or an exponent part.  Leading zeros are not
   allowed.
>
>   **A fraction part is a decimal point followed by one or more digits.**

So I would say that at least for `id_tokens` iat could be float or integers. We could remove that `int` cast:

https://github.com/authlib/authlib/blob/53315e2a82794a4064e19d74c2b611f173e98e16/authlib/oidc/core/grants/util.py#L63-L78

## JWT

The [JWT spec RFC7519 §4.1.6](https://datatracker.ietf.org/doc/html/rfc7519#section-4.1.6) indicates:

>    The "iat" (issued at) claim identifies the time at which the JWT was
   issued.  This claim can be used to determine the age of the JWT.  Its
   value MUST be **a number containing a NumericDate value**.  Use of this
   claim is OPTIONAL.

And later 

> NumericDate
      A **JSON numeric value** representing the number of seconds from
      1970-01-01T00:00:00Z UTC until the specified UTC date/time,
      ignoring leap seconds.  This is equivalent to the IEEE Std 1003.1,
      2013 Edition [[POSIX.1](https://datatracker.ietf.org/doc/html/rfc7519#ref-POSIX.1)] definition "Seconds Since the Epoch", in
      which each day is accounted for by exactly 86400 seconds, other
      than that **non-integer values can be represented**.  See [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339)
      [[RFC3339](https://datatracker.ietf.org/doc/html/rfc3339)] for details regarding date/times in general and UTC in
      particular.

[RFC9068 §2.2](https://datatracker.ietf.org/doc/html/rfc9068#section-2.2) indicates:

> REQUIRED - as defined in [Section 4.1.6](https://www.rfc-editor.org/rfc/rfc7519#section-4.1.6) of [[RFC7519](https://datatracker.ietf.org/doc/html/rfc7519)]. This claim identifies the time at which the JWT access token was issued.

Same as `id_token` I conclude that `iat` could be int or float. We could remove this int cast:

https://github.com/authlib/authlib/blob/53315e2a82794a4064e19d74c2b611f173e98e16/authlib/oauth2/rfc9068/token.py#L129-L140

--

In a recent testing context I had an issue with two `id_tokens` emitted in the same seconds. I find that more precise `iat` could have helped me differentiate the two tokens.
Thus, as the specs don't explicitly enforce integers, I suggest to use float by default for `iat`.
