Hi,
Thank your for your detailed ticket. JWT access tokens is described by [RFC9068](https://www.rfc-editor.org/rfc/rfc9068.html). There has been a server-side implementation of this spec but no client-side implementation, but it would be very welcome!

Some random thoughts:
- In your first example you use the `id_token_signing_alg_values_supported` metadata to decode the access token. `id_token_signing_alg_values_supported` is detailed by `oidc-core` but there is no mention of this in `RFC9068` so it should not be used there.
- [RFC9068 §2.1](https://www.rfc-editor.org/rfc/rfc9068.html#name-header) indicates the expected values of the `typ` claim, if Entra is out of scope and you need compatibility with it, you could subclass `rfc9068.JWTAccessTokenClaims` and rewrite the `validate_typ` method.

I am not really sure about the API that could be used here, maybe `example.decode_access_token`? @lepture, any thoughts?