ValueError: Invalid JSON Web Key Set raised when duplicate keys exist in JWKS

**Describe the bug**

With this [commit](https://github.com/authlib/authlib/commit/386c7644c0242eceb4417bbabed8b43df5e5b9ef), authlib now raises a ValueError if the JWKS contains more than one key with the same kid attribute value. 

 I wasn't able to find any reference in the [RFC](https://datatracker.ietf.org/doc/html/rfc7517) that indicates duplicate kids are not allowed. 

That said - they clearly aren't best practice because of the ambiguity they introduce in key lookups.

Despite that, it seems like this lib should stick to the spec.

**Error Stacks**

```python
put error stacks here
```

**To Reproduce**

```
oauth_client.authorize_access_token
```

**Expected behavior**

Choose a matching key without raising exception.

**Environment:**

 - OS: 
 - Python Version: 3.13
 - Authlib Version: 1.6.1

**Additional context**

Add any other context about the problem here.


> I wasn't able to find any reference in the [RFC](https://datatracker.ietf.org/doc/html/rfc7517) that indicates duplicate kids are not allowed.

[RFC7517 §4.5](https://datatracker.ietf.org/doc/html/rfc7517#section-4.5) says:

> When "kid" values are used within a JWK Set, different
   keys within the JWK Set SHOULD use distinct "kid" values. (One
   example in which different keys might use the same "kid" value is if
   they have different "kty" (key type) values but are considered to be
   equivalent alternatives by the application using them.) 

This is a `SHOULD` and not a `MUST`, so it is not an absolute requirement, but still, the specs give a direction.

@azmeuk it should be fixed by https://github.com/authlib/authlib/commit/f77ff23aa19ecebafddc12c65ea41ae34bb3c322

Does the equivalent bug [exist in joserfc here?](https://github.com/authlib/joserfc/blob/main/src/joserfc/_keys.py#L157) Is there a long term plan to have `authlib` use `joserfc` to reduce the effort of maintaining separate implementations?

@bjmc yes. #766 

@azmeuk this is fixed in 1.6.2.

> [@bruceduhamel](https://github.com/bruceduhamel) does the latest versions of Authlib solve your issue?

I'm afraid I'm no longer able to reproduce as the team that manages the JWKS removed the duplicate keys. Just the same, I reviewed [the commit](https://github.com/authlib/joserfc/commit/0c3caafb70266825b4fdc27f68ebd280d2047f2a) and it looks good.