The authorization and token endpoints `scope` parameters should be optional

As per [RFC6749 section 3.3](https://www.rfc-editor.org/rfc/rfc6749.html#section-3.3), the `scope` parameter at the authorization endpoint is optional. The responsibility of using a default value or raising an `InvalidScopeError.` error should be left to the developer.

>   If the client omits the scope parameter when requesting
   authorization, the authorization server MUST either process the
   request using a pre-defined default value or fail the request
   indicating an invalid scope.  The authorization server SHOULD
   document its scope requirements and default value (if defined).

Currently the authorization code grant is calling `client.get_allowed_scope(scope)` that allows developers to provide a default value (if the input scope is empty then they can provide default scopes). However:

- The other grants (client_credentials, password, implicit, jwt_bearer) don't call `get_allowed_scope` so they cannot customize the scopes. Maybe they should use `get_allowed_scope`?
- There is no way developers can raise an exception. They could manually raise an `InvalidScopeError` but this not the philosophy of Authlib. Maybe the exception could be automatically raised when `get_allowed_scope` return `None` (but not the empty string `""` so tokens with empty scopes could still be created).
- If the previous points are implemented, is `get_allowed_scope` still the right name for the method?